nodered_flow.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "Smart Recycling",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt_detection",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Detection",
        "topic": "recycling/detection",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["json_detection"]]
    },
    {
        "id": "mqtt_env",
        "type": "mqtt in",
        "z": "tab1",
        "name": "Environment",
        "topic": "recycling/environment",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 300,
        "wires": [["json_env"]]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "json_detection",
        "type": "json",
        "z": "tab1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 100,
        "wires": [["func_label", "func_confidence", "func_count"]]
    },
    {
        "id": "json_env",
        "type": "json",
        "z": "tab1",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 300,
        "y": 300,
        "wires": [["func_temp", "func_hum", "func_status"]]
    },
    {
        "id": "func_label",
        "type": "function",
        "z": "tab1",
        "name": "label",
        "func": "msg.payload = msg.payload.label;\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 60,
        "wires": [["ui_label"]]
    },
    {
        "id": "func_confidence",
        "type": "function",
        "z": "tab1",
        "name": "confidence",
        "func": "msg.payload = Math.round(msg.payload.confidence * 100);\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 100,
        "wires": [["ui_confidence"]]
    },
    {
        "id": "func_count",
        "type": "function",
        "z": "tab1",
        "name": "count",
        "func": "var counts = context.get('counts') || {plastic: 0, can: 0, paper: 0};\ncounts[msg.payload.category] = (counts[msg.payload.category] || 0) + 1;\ncontext.set('counts', counts);\nmsg.payload = [\n  {label: 'Plastic', value: counts.plastic},\n  {label: 'Can', value: counts.can},\n  {label: 'Paper', value: counts.paper}\n];\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 140,
        "wires": [["ui_count"]]
    },
    {
        "id": "func_temp",
        "type": "function",
        "z": "tab1",
        "name": "temp",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 260,
        "wires": [["ui_temp"]]
    },
    {
        "id": "func_hum",
        "type": "function",
        "z": "tab1",
        "name": "hum",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 300,
        "wires": [["ui_hum"]]
    },
    {
        "id": "func_status",
        "type": "function",
        "z": "tab1",
        "name": "status",
        "func": "msg.payload = msg.payload.status;\nreturn msg;",
        "outputs": 1,
        "x": 470,
        "y": 340,
        "wires": [["ui_status"]]
    },
    {
        "id": "ui_base",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "themeState": {
                "base-color": {"value": "#0094CE", "edited": false},
                "page-titlebar-backgroundColor": {"value": "#0094CE", "edited": false},
                "page-backgroundColor": {"value": "#fafafa", "edited": false},
                "page-sidebar-backgroundColor": {"value": "#ffffff", "edited": false},
                "group-textColor": {"value": "#1bbfff", "edited": false},
                "group-borderColor": {"value": "#ffffff", "edited": false},
                "group-backgroundColor": {"value": "#ffffff", "edited": false},
                "widget-textColor": {"value": "#111111", "edited": false},
                "widget-backgroundColor": {"value": "#0094ce", "edited": false},
                "widget-borderColor": {"value": "#ffffff", "edited": false},
                "base-font": {"value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "date": "Default",
            "sizes": {"sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0}
        }
    },
    {
        "id": "ui_tab",
        "type": "ui_tab",
        "name": "Smart Recycling",
        "icon": "dashboard",
        "order": 1,
        "disp": true,
        "link": "ui_base"
    },
    {
        "id": "ui_group_detection",
        "type": "ui_group",
        "name": "Detection",
        "tab": "ui_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_group_env",
        "type": "ui_group",
        "name": "Environment",
        "tab": "ui_tab",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ui_label",
        "type": "ui_text",
        "z": "tab1",
        "group": "ui_group_detection",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Category",
        "label": "Detected Item",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "ui_confidence",
        "type": "ui_gauge",
        "z": "tab1",
        "group": "ui_group_detection",
        "order": 2,
        "width": "3",
        "height": "3",
        "name": "Confidence",
        "label": "Confidence %",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": ["#ff0000", "#ffff00", "#00ff00"],
        "seg1": 40,
        "seg2": 70,
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "ui_count",
        "type": "ui_chart",
        "z": "tab1",
        "group": "ui_group_detection",
        "order": 3,
        "width": "6",
        "height": "4",
        "name": "Count",
        "label": "Sorted Count",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "x": 660,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "ui_temp",
        "type": "ui_gauge",
        "z": "tab1",
        "group": "ui_group_env",
        "order": 1,
        "width": "3",
        "height": "3",
        "name": "Temperature",
        "label": "Temp °C",
        "format": "{{value}}°C",
        "min": 0,
        "max": 50,
        "colors": ["#00b3e6", "#ffff00", "#ff0000"],
        "seg1": 25,
        "seg2": 35,
        "x": 660,
        "y": 260,
        "wires": []
    },
    {
        "id": "ui_hum",
        "type": "ui_gauge",
        "z": "tab1",
        "group": "ui_group_env",
        "order": 2,
        "width": "3",
        "height": "3",
        "name": "Humidity",
        "label": "Humidity %",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": ["#00b3e6", "#ffff00", "#ff0000"],
        "seg1": 60,
        "seg2": 80,
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "ui_status",
        "type": "ui_text",
        "z": "tab1",
        "group": "ui_group_env",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Status",
        "label": "Sanitation Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 660,
        "y": 340,
        "wires": []
    }
]
